html {
  font-size: 16px;
  font-family: "Raleway", Arial, "sans-serif";
  background-color: white;
  color: #4b5051;
  }

body {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  }

h1, h4, h3 {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  color: #444547;
  font-weight: bold;
  font-family: "Open Sans";
  padding-right: 1.5rem;
}

p {
  padding-right: 1.5rem;
}

/* navigation bar */

.mobile {
  display: none;
}

@media only screen and (max-width:480px) {
  .mobile {
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop {
    display: none;
  }
}

.light {
  color: grey;
}

#logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

@media only screen and (min-width:480px) {
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: 4rem;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-right: 1rem;
  }

  .sliding-middle-out {
  	display: inline-block;
  	position: relative;
  	}
  .sliding-middle-out:after {
  	content: '';
  	display: block;
  	margin: auto;
  	height: 1px;
  	width: 0px;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
  }
  .sliding-middle-out:hover:after {
  	width: 100%;
  	background: skyblue;
  }

/* Main Banner */


#mainbanner {
  background-color: #d1d3d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("../assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 60%;
  height: 40rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
  overflow: hidden;
}

.text {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 6rem;
}

.btn {
  background-color: #444547;
  color: #edeeef;
  padding: 2rem 3rem;
  text-align: center;
}

/* Information */

.colorchange:hover {
  color: #076f84;
}

#information {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

}

#information .image {
  border-right: 1px solid #d1d3d6;
}

.author {
  color: black;

}

.big {
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
}

.image {
  width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.articles {
  width: 40%;
}

.article {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d6;
}

.featured {
  background-color: #d1d3d6;
}

.article .image {
  padding: 0px;
  width: 35%;
  height: auto;
}

.small {
  width: 100%;
  height: auto;
}

.article .text {
  width: 65%;
  margin: 0;
  margin-left: 1rem;
  justify-content: center;
}

.blue {
  color: #16adcc;
}
